streamlit
torch>=2.0.0
torchvision
numpy
pandas
matplotlib
Pillow
lifelines
shap
joblib
h5py
PyYAML
timm
transformers
openslide-python
einops
scipy
scikit-learn
PyWavelets
causal-conv1d>=1.2.0
mamba-ssm
